{% extends "Base.html" %}
{% load static %}
{% block title %}Password Reset{% endblock %}
{% block content %}
    
        <div class="container">
            <center>
                <div class="card" style="width: 18rem;" >
                    <div class="card-header">
                        Password Reset
                    </div>
                    <div class="card-body">
                        <form action="{% url 'password_reset' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class = "exampleInputEmail1">Email</label>
                                <input type="email" name="email" maxlength="254" required id="id_email" class="form-control"  placeholder="Enter Email">
                            <div>
    
                            <br>
                            <button type="submit" class="btn btn-primary" value="Send e-mail">Send E-mail</button>
                        </form>
                    </div>
                </div>
        </center>
    </div>
{% endblock content %}