{% extends "Base.html" %}
{% load static %}
{% block title %}Change Password{% endblock %}
{% block content %}

        <div class="container">
            <center>
            <div class="card" style="width:18rem;">
                <div class="card-header">
                            Change Password
                    </div>
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger alert-dismissible">
                                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <div class="card-body">

                
                <form action="{% url 'change_password' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class = "exampleInputPassword1">Old Password </label>
                        <input type="password" name="old_password" autofocus required id="id_old_password"  class="form-control"  placeholder="Enter Old Password">
                    <div>
                        <br>
                    <div class="form-group">
                        <label class = "exampleInputPassword2">New Password</label>
                        <input type="password" name="new_password1" required id="id_new_password1"  class="form-control"  placeholder="Enter New Password">
                        <small id="passwordHelpInline" class="text-muted">
                                <ul>
                                    <li>Your password can&#39;t be too similar to your other personal information.</li>
                                    <li>Your password must contain at least 8 characters.</li>
                                    <li>Your password can&#39;t be a commonly used password.</li>
                                    <li>Your password can&#39;t be entirely numeric.</li>
                                </ul>
                        </small>
                    <div>
                        <br>
                            <div class="form-group">
                                    <label class = "exampleInputPassword3">Confirm New Password</label>
                                    <input type="password" name="new_password2" required id="id_new_password2"  class="form-control"  placeholder="Enter New Confirm Password">
                                <div>
                        <br>
                    <button type="submit" class="btn btn-primary" value="Change Password">Change Password</button>
                    
                </form>
            </div>
            </div>

        </center>
        </div>
{% endblock content %}