{% extends 'Base.html' %}
{% load static %}
{% block title %} Accounts {% endblock %}



{% block register %}

{% if request.user.is_authenticated  %}
<div class="register-login-area">




    <a href="{% url 'profile' request.user.username  %}" class="btn">{{ request.user.username }}</a>
    <a href="{% url 'logout' %}" class="btn">logout</a>

</div>
{% else %}
<div class="register-login-area">
    <a href="{% url 'register' %}" class="btn">Register</a>
    <a href="{% url 'login' %}" class="btn">Login</a>
</div>
{% endif %}
{% endblock  %}





{% block content %}

<!-- ##### Hero Area Start ##### -->
<section class="hero-area bg-img bg-overlay-2by5" style="background-image: url( '{% static "music/bg-img/bg1.jpg" %}' );">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <!-- Hero Content -->
                <div class="hero-content text-center">

                    {% if request.user.is_authenticated  %}
                    <h2>Let's Manage Together</h2>
                    {% else %}
                    <h2>Let's Manage Together</h2>
                    <a href="{% url 'login' %}" class="btn clever-btn">Get Started</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Cool Facts Area Start ##### -->
<section class="cool-facts-area section-padding-100-0">
    <div class="container">
        <div class="row">
            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="250ms">
                    <div class="icon">
                        <img src="{% static  'music/core-img/docs.png' %}" alt="">
                    </div>
                    <h2><span class="counter">1000</span></h2>
                    <h5>Happy Users</h5>
                </div>
            </div>

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="500ms">
                    <div class="icon">
                        <img src="{% static 'music/core-img/star.png' %}" alt="">
                    </div>
                    <h2><span class="counter">50</span></h2>
                    <h5>Honourable Accountants</h5>
                </div>
            </div>

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="750ms">
                    <div class="icon">
                        <img src="{% static 'music/core-img/events.png' %}" alt="">
                    </div>
                    <h2><span class="counter">110</span></h2>
                    <h5>Video Lectures</h5>
                </div>
            </div>

            <!-- Single Cool Facts Area -->
            <div class="col-12 col-sm-6 col-lg-3">
                <div class="single-cool-facts-area text-center mb-100 wow fadeInUp" data-wow-delay="1000ms">
                    <div class="icon">
                        <img src="{% static 'music/core-img/earth.png' %}" alt="">
                    </div>
                    <h2><span class="counter">50</span></h2>
                    <h5>Available Courses</h5>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ##### Cool Facts Area End ##### -->

        {% endblock content %}