{% extends 'Base.html' %}
{% block content %}
<div class="container">
    
        {% if form.errors %}
        {% for field in form %}
        {% for error in field.errors %}
        <div class="alert alert-danger">
          There is error in  {{ field.name }} &nbsp;&nbsp;&nbsp; <strong>{{ error|escape }}</strong>
        </div>
        {% endfor %}
        {% endfor %}
        {% endif %}
    <form method="POST">
        {% csrf_token %}
        
        <div class="card" style=" width: auto;">
                <div class="shadow p-3 bg-white rounded">

                    <div class="card-header text-center bg-transparent border-0">
                        <h3>
                                Compaign Edit
                        </h3>

                    </div>



                    <div class="card-body">
                           {% csrf_token %}
                    

                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" value="{{object.title}}" maxlength="150" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Message</label>
                            <input type="text" name="message" value="{{object.message}}" maxlength="150" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Delivery Date</label>
                            <input type="datetime" id="datepicker" value="{{object.delivery_date}}" name="delivery_date" maxlength="150" class="form-control">
                        </div>
                     <p>
                        <br>
                    </p>
                    <p>
                        <br>
                            <input type="submit" class="btn btn-warning" value="Save">
    

                       
                    </div>
                </div>
            </div>
        </div>
     
      
       

    </form>
</div>
{% endblock %}


